/*全局*/
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
BODY {
	FONT-SIZE: 12px; COLOR: #333333;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: verdana;
}
A:link {
	FONT-SIZE: 12px;
	COLOR: #666666;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: none;
}
A:visited {
	FONT-SIZE: 12px;
	COLOR: #666666;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: none;
}
A:active {
	FONT-SIZE: 12px;
	COLOR: #000000;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: none;
}
A:hover {
	FONT-SIZE: 12px;
	COLOR: #000000;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: verdana;
	TEXT-DECORATION: none;
}
SELECT {
	FONT-SIZE: 11px;
	COLOR: #333333;
	LINE-HEIGHT: 14px;
	FONT-FAMILY: Verdana, verdana;
}
TEXTAREA {
	BORDER-RIGHT: #b7b7b7 1px solid;
	BORDER-TOP: #b7b7b7 1px solid;
	FONT-SIZE: 12px;
	BORDER-LEFT: #b7b7b7 1px solid;
	COLOR: #333333; LINE-HEIGHT: 18px;
	BORDER-BOTTOM: #b7b7b7 1px solid;
	FONT-FAMILY: Verdana, verdana;
}
INPUT {
	border: 1px solid #b7b7b7;
    FONT-SIZE: 12px;
	COLOR: #333333;
	}
TD {
	FONT-SIZE: 12px;
	COLOR: #333333;
	LINE-HEIGHT: 18px;
	FONT-FAMILY: verdana;
}

/*第一條分隔線*/
.hr1 {
	padding-top:5px;
	height:1px;
	border:none;
	border-bottom:1px ridge #cefdcf;
}

/* footer分隔線*/
.footerhr {
	padding-top:5px;
	height:1px;
	border:none;
	border-bottom:1px ridge #cccccc;
}


/*上方主區*/
.topMain
{
    padding-top: 10px;
    width: 100%;
    height: 64px;
    /*background-image: url(../image/niu_logo1.gif);
    background-repeat: no-repeat;*/
}

/*上方左邊網站標題*/
.topMain span.left
{
    float: left;
    text-align: left;
    line-height: 64px;
    width: 49%;
}
/*上方右邊連結區*/
.topMain span.right
{
    float: right;
    padding-right: 20px;
    line-height: 0px;
    text-align: right;
    width: 49%;
}

/*上方與主區的分隔線*/
.hr2
{
    height: 10px;
    border-bottom: 10px groove #a3f985;
    border-style: none none groove none;
    border-width: medium medium 10px medium;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: #33CCFF;
    border-left-color: inherit;
}

/*下方工作主區*/
.textMain {
	padding-top:10px;
	width:100%;
}
.textMain2 {
	padding-left:20px;
	width:97%;
}

.content_left{
    float: left;
    text-align: left;
    padding-left:10px;
    width: 25%;
    /*background-color: #C0C0C0;*/
}
.content_right{
    float: right;
    /*padding-left:2px;*/
    /*line-height: 300px;*/
	width: 73%;
}

.spacer {
	clear: both;
  }

/*功能列區Menu*/
.Menu {
	padding-left:10px;
	width:100%;
}
/* astr View*/
.astrview{
	padding-left:20px;
	padding-right:30px;
	width:80%;
  
}

/*按鈕顏色*/
/*新增/送出*/
.input01
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	background-color:#FF9966;
	border-style:solid;
	border-color:#FF6600;
}
/*刪除/清除/放棄*/
.input02
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	background-color:#FFCCFF;
	border-style:solid;
	border-color:#FF66FF;
}
/*隱藏/封鎖/關閉*/
.input03
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	background-color:#CCCCCC;
	border-style:solid;
	border-color:#AAAAAA;
}
/*排序*/
.input04
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	background-color:#CCFFFF;
	border-style:solid;
	border-color:#99CCCC;
}
/*修改*/
.input05
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	background-color:#CCFF99;
	border-style:solid;
	border-color:#99CC66;
}
/*顯示/解除*/
.input06
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	background-color:#888888;
	border-style:solid;
	border-color:#999999;
}
/*搜尋/進入*/
.input07
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	background-color:#CC99FF;
	border-style:solid;
	border-color:#9999FF;
}
